import { StoryObj, Meta } from '@storybook/react';
import { within } from '@storybook/testing-library';
import { expect } from '@storybook/jest';

import { TaskList } from './TaskList';

const meta = {
    title: 'Example/TaskList',
    component: TaskList,
    parameters: {
      // More on Story layout: https://storybook.js.org/docs/react/configure/story-layout
      layout: 'fullscreen',
    },
} as Meta<typeof TaskList>

export default meta;

type Story = StoryObj<typeof meta>;

{{#testCases}}
export const testCase{{testCaseNumber}}: Story = {
  args: {
    tasks: ["{{character}}"]
  },
  play: async ({ canvasElement }) => {
    await expect(
      within(canvasElement).getByText(`0 {{character}}`)
    ).toBeInTheDocument();
  }
}
{{/testCases}}
